<!DOCTYPE html>
<html>

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="icon" href="/static/images/favicon.png" sizes="32x32" type="image/png">

	<link rel="stylesheet" type="text/css" href={{"static/style_main.css"}}>

	{% if title %}
	<title>Spotify - {{ title }}</title>
	{% else %}
	<title>Spotify</title>
	{% endif %}

	<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script> -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

</head>

<body>
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<div class="page">
		{% block content %}{% endblock %}
	</div>
</body>

</html>