{% extends "layout.html" %}
{% block content %}

<form method="post" style="margin: 0">
    {% csrf_token %}
    <!-- {{ form }}
    <button id="search_submit" type="submit" >
        <img src="static/images/search_icon.png" width="20" height="20">
    </button> -->
    <button id="scan_playlists" type="submit" >
        <!-- <img src="static/images/search_icon.png" width="20" height="20"> -->
    </button>
</form>

<button id="scan_playlists" type="submit">Scan Playlists</button>

{% if search %}
<h1>{{search}}</h1>
{% endif %}

{% endblock content %}