:root {
	--color1: hsla(0, 100%, 90%, 0.333);
	--color2: hsla(0, 100%, 70%, 0.3);
	--color3: #ff073a;
}

html {
	font-family: sans-serif;
	background: #eee;
	padding: 1rem;
	background-image: url('/static/images/bg1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	scroll-behavior: smooth;
}

body {
	/* max-width: 960px; */
	margin: 0 auto;
	color: white;
	/* background: rgba(123, 73, 73, 0.571); */
	background-color: transparent;
}

.page {
	width: 70%;
	margin: auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.flex-container > a {
    padding: 10px;
    color: crimson;
}